<div class="row">
  <div class="col-4 d-flex flex-column justify-content-center">
    <span class="font-weight-light d-flex justify-content-center"
      >Developed with love, link with me on social media!
    </span>
  </div>
  <div class="col-4">
    <div class="d-inline-flex link-alignment">
      <div class="bg-circle-outline d-inline-block">
        <a
          class="link-text"
          href="https://www.linkedin.com/in/branyzp"
          target="_blank"
        >
          <i class="fab fa-2x fa-fw fa-linkedin"></i>
        </a>
      </div>
      <div class="bg-circle-outline d-inline-block">
        <a class="link-text" href="https://github.com/branyzp" target="_blank">
          <i class="fab fa-2x fa-fw fa-github"></i
        ></a>
      </div>
    </div>
  </div>
</div>
